/*
CSS Rules
selector{
	property:value;
}
*/

/*Universal Selector*/
*{
	/*monospace acts like an alternate font for Courier New*/
	font-family: "Courier New", monospace;
	font-size: 20px;
}

body{
	background-color: skyblue;
}

html{
	scroll-behavior: smooth;
}

/*navigation bar*/
nav{
	background-color: white;
}

/*selector:hover psuedo class*/
/*changes the style when hovered over*/
a:hover{
	background-color: #b4d6de;
}

div{
	display: inline-block;
	float: right;
}

h1{
	color: orange !important;
	/*The !important property has the highest priority. Using this will prioritise the property	*/
	text-align: center;
	font-size: 2rem;
}

/*landing section*/
section{
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

/*id selector*/
/*#id-name*/

#zuitt-motto{
	letter-spacing: 5px;
	/*	the letter-spacing property changes the spaces in between characters of a text */
}

h3{
	letter-spacing: 25px;
}

/*Adjacent Sibling Selector*/
/*selector + selector*/

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*#zuitt-motto + img{
	height: 300px;
	width: 300px;
	border-radius: 50px;
}
*/

	/*The selectors used for combinators aren't limited/restricted to type selectors only.
	Id, Class, attribute and universal selectors may also be used.*/
	/*The height, changes the vertical dimensions of the element	*/
    /*The width changes the horizontal dimension of the element*/
    /*The border-radius changes the corners of the element from sharp to rounded*/

ol {
	list-style-type: none;
}

/*class selector*/
/*.class-name*/

.offering-item{
	text-transform: uppercase;
	/*	text-transform property changes font to a certain case, the value uppercase changes the text to all capitalized letters*/
}

/*Descendant Selector*/
/*selector selector*/

#bootcamp-learning-list li{
	color: #075966;
}
/*The color property and similar properties that change color can also accept hex values. Hexadeciml values consist of (#) sign in combination with six alphanumeric characters.*/

/*General Sibling Selector*/
/*selector ~ selector*/
h2 ~ a{
	text-decoration: none;
}
/*text-decoration is a property that changes lines included in text
e.g overline, underline and strike through*/
/*The value none will remove the underline from links*/

/*Child Selector*/
/*selector>selector*/

body > section > form > label {
	color: rgb(237, 17, 35);
}
/*The child selector may include more than two selectors, and the
last tag/element is where the changes will happen*/

/*Attribute selector*/
/*tagname[attribute]*/

input[required]{
	border-width: 3px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*registered section*/

form{
	text-align: center;
	background-color: white;
	height: 185px;
	width: 25vw;
	border: 2px solid block;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border:0;
	border-radius: 15px;
}