*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

nav{
	position: relative;
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
	top: 0;
    position: fixed;
	background-color: white;
}

nav .nav, nav .nav-logo, nav .right-nav{
	display:inline;
	margin: 0.5rem;
	text-align: right;
	position: inherit;
}

nav .right-nav{
	margin-left: 45vw;
	position: sticky;
}

nav button{
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#bg-image{
	min-height: 85vh;
	background-color: black;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;
	margin-bottom: 60px;
	margin-top:80px;
}

.container{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 85vh;
}

section .title{
	text-align: right;
	font-family: "Zilla Slab", sans-serif;
	font-size: 50px;
	margin-right: 200px;
	margin-left: 650px;
	margin-bottom: 30px;
	color: white;
	font-weight: bold;
	float: right;
}

.subtitle{
	text-align: right;
	margin-right: 200px;
	color: white;
	margin-left: 830px;
}

.apply-button{
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	margin-left: 1200px;
}

.intro h2{
	text-align: center;
	font-family: "Zilla Slab", sans-serif;
}

.intro p{
	margin: 70px 260px;
}


.pre-footer{
	background-color: #f7fbfb;
	min-height: 60vh;
}

.pre-footer h2{
	text-align: center;
	font-family: "Zilla Slab", sans-serif;
	padding: 70px 0px;
}

.pre-footer p{
	text-align: center;
	padding: 0px 225px;
}

.pre-footer button{
	color: white;
	background-color: #336589;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	position: relative;
  	top: 50%;
  	left: 46%;
}

footer {
	padding: 0.7rem;
	text-align: center;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}