*{
	font-family: "Arial";
}

p{
	color: yellow;
}

h1{
	font-size: 75px;
}

#things{
	text-transform: uppercase;
}

.languages{
	background-color: lightgreen;
}

li[value]{
	border-width: 3px;
	border-style: solid;
	border-color: lightblue;
}

img + ul {
	list-style-type: none;
}

section img{
	height: 200px;
	width: 200px;
	border-radius: 150px;
}

section > ul> li{
	letter-spacing: 7px;
}

#line{
	color: black;
	text-align: center;
}